body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    background: #1e293b;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0ea5e9;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 100px auto;
    width: 250px;
    border-radius: 10px;
}